{{ template "head.html" . }}
<div class="main-content index-page clearfix onelist-page">
    <div class="post-lists">
        <div class="post-lists-body">

            <div class="post-onelist-item">
                <div class="post-onelist-item-container">

                    <div class="onelist-item-info">
                        <div class="item-title">
                            <a href="/tech/closure.html">
                                这是测试about -- -  - - --
                            </a>
                        </div>
                        <div class="item-meta">
                            <time datetime="07 07, 2016" itemprop="datePublished">&nbsp;&nbsp;Published&nbsp;&nbsp;on&nbsp;&nbsp;
                                07 07, 2016
                            </time> in
                            <a href="/category/tech/">
                                tech
                            </a>
                        </div>
                        <div class="item-meta-hr bg-deepgrey"></div>
                        <div class="item-content">
                            <p>提到闭包和匿名函数似乎一下子就想到了 javascript ，但其实在很多语言中都有闭包的特性。但是 javascript 坑爹的变量作用域让闭包变得非常重要。而其他语言完善私有共有变量和继承让闭包似乎没有什么卵用。但是为了有点B格，还是看了看 php 的闭包。<br>
                                闭包和匿名函数</p>

                        </div>
                        <div class="item-readmore"><a href="/tech/closure.html"> Continue Reading →</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ template "foot.html" . }}