{{ template "head.html" . }}
<div class="main-content index-page clearfix onelist-page">
    <article class="main-content page-page" itemscope itemtype="http://schema.org/Article">
        <div class="post-header">
            <h1 class="post-title" itemprop="name headline">
                {{.info.Title}}
            </h1>

            <div class="post-data">
                <i class="fa fa-calendar-o"></i> 发表于
                <time datetime="{{date .info.DisplayTime "Y-m-d"}}" itemprop="datePublished">
                    {{date .info.DisplayTime "Y-m-d"}}
                </time>
                <span class="post-meta-divider">|</span>
                <i class="fa fa-folder-o"></i>
                <a href="/categories/{{.category.RouterLink}}?type={{.category.Name}}">
                    {{.category.Name}}
                </a>
{{/*                with*/}}
{{/*                <a href="#comments">&nbsp;&nbsp;0&nbsp;&nbsp;comment</a>*/}}
            </div>
        </div>
        <div id="post-content" class="post-content" itemprop="articleBody">

            {{ str2html .info.Content }}

            <div>
                <ul class="post-copyright">
                    <li class="post-copyright-author">
                        <strong>本文作者： </strong>wang kekai
                    </li>
                    <li class="post-copyright-link">
                        <strong>本文链接：</strong>
                        <a href="//www.wangkekai.com/article/{{.info.Slug}}" title="{{.info.Title}}">https://www.wangkekai.com/article/{{.info.Slug}}</a>
                    </li>
                    <li class="post-copyright-license">
                        <strong>版权声明： </strong>
                        本博客所有文章除特别声明外，均采用「 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a> 」创作共享协议，转载请注明作者及原网址。
                    </li>
                </ul>
            </div>
        </div>
        <footer class="post-footer">
            <p class="post-tags">
                {{ range $elem := .tags }}
                    <a href="/tags/{{$elem.RouterLink}}">
                        {{ $elem.Name }}
                    </a>
                {{ end }}
            </p>
            <div class="post-nav">
                {{ if .info.Previous }}
                    <div class="post-nav-next post-nav-item">
                        <a href="/article/{{.info.Previous}}" rel="next" title="{{.previousTitle}}">
                            <i class="fa fa-chevron-left"></i> {{.previousTitle}}
                        </a>
                    </div>
                {{end}}
                <span class="post-nav-divider"></span>
                {{if .info.Next}}
                    <div class="post-nav-prev post-nav-item">
                        <a href="/article/{{.info.Next}}" rel="prev" title="{{.nextTitle}}">
                            {{.nextTitle}}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                {{end}}
            </div>
        </footer>
    </article>
</div>
{{ template "foot.html" . }}