{{template "head.html" .}}
    <div class="bg-grey">
        <div class="main-content common-page clearfix">
            <div class="common-item">

                <div class="common-title">
                    {{.meta.Name}}:
                    {{.meta.Type}}
                </div>

                <div class="post-lists">
                    <div class="post-lists-body">
                        {{if gt .Total 0}}
                        {{range $index, $elem := .Data}}
                        <div class="post-list-item">
                            <div class="post-list-item-container ">
                                <div class="item-label ">
                                    <div class="item-title">
                                        <a href="/article/{{$elem.Slug}}">
                                            {{$elem.Title}}
                                        </a>
                                    </div>
                                    <div class="item-meta clearfix">
                                        <div class="item-meta-date">
                                            {{date $elem.DisplayTime "Y-m-d H:m"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{end}}
                        {{else}}
                        <div class="post-list-item">没有任何数据</div>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="lists-navigator clearfix">
                <ol class="page-navigator">
                    {{if gt .CurrentPage 1}}
                        <li class="prev"><a href="/?page={{sub .CurrentPage}}">←</a></li>
                    {{end}}

                    <li class="current">
                        <a href="javascript:">
                            {{.CurrentPage}} /
                            {{.TotalPage}}
                        </a>
                    </li>

                    {{if gt .TotalPage .CurrentPage}}
                        <li class="next"><a href="/?page={{add .CurrentPage}}">→</a></li>
                    {{end}}
                </ol>
            </div>
        </div>
    </div>
{{ template "foot.html" . }}