<footer class="footer">
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <a href="/" class="info-logo">
                        xin
                    </a>
                    <div class="info-text">
                        <p>Theme is <a href="https://github.com/chakhsu/pinghsu" target="_blank">Pinghsu</a> by <a href="https://www.linpx.com/" target="_blank">Chakhsu</a></p>
                        <p> Project created by <a href="https://thinkjs.org/" target="_blank">ThinkJS</a></p>
                        <p> Powered by <a href="https://github.com/lscho/ThinkJS-Vue.js-blog" target="_blank">lscho</a></p>
                    </div>
                </div>
            </div>
            <div class="meta-item meta-posts">
                <h3 class="meta-title">RECENT POSTS</h3>

                <li>
                    <a href="/tech/closure.html">
                        php 闭包与匿名函数
                    </a>
                </li>

                <li>
                    <a href="/tech/observer.html">
                        PHP 程序设计之观察者模式的实现
                    </a>
                </li>

                <li>
                    <a href="/life/factory-html.html">
                        PHP 程序设计之工厂模式的实现
                    </a>
                </li>

                <li>
                    <a href="/tech/ly-bug.html">
                        一个漏洞的发现过程
                    </a>
                </li>

                <li>
                    <a href="/tech/dvi.html">
                        DVI 接口的类别区分
                    </a>
                </li>
            </div>
            <div class="meta-item meta-comments">
                <h3 class="meta-title">RECENT COMMENTS</h3>
                <li>
                    <a href="/life/factory-html.html#comment-1">
                        sdfd:
                        sxcvx
                    </a>
                </li>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
